Ejercicio 1: Sumar los primeros 50 números pares sin fórmulas

In [3]:
suma_total = 0
for i in range(1, 51):
    numero_par = i * 2
    suma_total += numero_par

print("La suma de los primeros 50 números pares es:", suma_total)

La suma de los primeros 50 números pares es: 2550

Ejercicio 2: Ordenar lista por número de vocales

In [7]:
def contar_vocales(palabra):
    vocales = "aeiouáéíóúAEIOU"
    cantidad = 0
    for letra in palabra:
        if letra in vocales:
            cantidad += 1
    return cantidad

lista_palabras = ["neuroembriología",
"ñiquiñaque","nitrificación","nomenclátor","nostálgico","novelístico","novohispano","obliteración","obsequioso","obstetricia",
"occidentalizar","octogenario","oftalmólogo","oligoelemento","onomatopeya","organización","orientativo","ornamentación","otorrinolaringólogo"]
lista_palabras.sort(key=contar_vocales)
print("Lista ordenada por número de vocales:", lista_palabras)

Lista ordenada por número de vocales: ['nomenclátor', 'nostálgico', 'novelístico', 'novohispano', 'obstetricia', 'oftalmólogo', 'ñiquiñaque', 'nitrificación', 'obliteración', 'obsequioso', 'occidentalizar', 'octogenario', 'onomatopeya', 'organización', 'orientativo', 'ornamentación', 'oligoelemento', 'neuroembriología', 'otorrinolaringólogo']

Ejercicio 3: Verificar miembros comunes entre dos listas

In [9]:
def elemento_comun(lista1, lista2):
    for elemento1 in lista1:
        for elemento2 in lista2:
            if elemento1 == elemento2:
                return True
    return False

print(elemento_comun([1, 2, 3], [4, 5, 3]))
print(elemento_comun(["AR0358", "AR0608", "AR3102", "AR3068", "AR3520", "AR3521", "AR3525", "AR3524", "AR3522",
    "AR2619", "AR0884", "AR0473", "AR0471", "AR3971", "AR2704", "AR2705", "AR0241", "AR0363",
    "AR0360", "AR0093", "AR0423", "AR3967", "AR0340", "AR4565", "AR2930", "AR0776", "AR3404",
    "AR3405", "AR3406", "AR3092", "AR0175", "AR0178", "AR3412", "AR0485", "AR3380", "AR3402", "AR0176"],
     ["AR3413", "AR3672", "AR1190", "AR4155", "AR3407", "AR3399", "AR3419", "AR3634", "AR3866",
    "AR3417", "AR3091", "AR3408", "AR3632", "AR1934", "AR1191", "AR3578", "AR3775", "AR4488",
    "AR4308", "AR0548", "AR3052", "AR0605", "AR0001", "AR3171", "AR3423", "AR3119", "AR3118",
    "AR0059", "AR0617", "AR3411", "AR0033", "AR0368", "AR2910", "AR3448", "AR1805", "AR3449",
    "AR1837", "AR0836", "AR1104", "AR0392", "AR3507", "AR2641", "AR0777", "AR0276", "AR1524",
    "AR3790", "AR0442", "AR2892", "AR1239", "AR0832", "AR0833", "AR3116", "AR0775", "AR0536",
    "AR1586", "AR3788", "AR0302", "AR0368", "AR0773", "AR1071", "AR3382", "AR0807", "AR1865",
    "AR0119", "AR2860", "AR4565", "AR4710", "AR1827", "AR2700", "AR4274", "AR3063", "AR3061",
    "AR3429", "AR2708", "AR1657", "AR4602", "AR3427", "AR3811", "AR1540", "AR1541"]))

True
True

Ejercicio 4: Reemplazar todas las apariciones del primer carácter

In [12]:
def reemplazar(cadena):
    primero = cadena[0]
    resto = cadena[1:].replace(primero, '$')
    return primero + resto

print(reemplazar('restart'))

resta$t

Ejercicio 5: Contar letras y dígitos

In [14]:
def contar_letras_digitos(cadena):
    letras = 0
    digitos = 0
    for caracter in cadena:
        if caracter.isalpha():
            letras += 1
        elif caracter.isdigit():
            digitos += 1
    return letras, digitos

texto = "AR3429"
letras, digitos = contar_letras_digitos(texto)
print("Letras =", letras)
print("Dígitos =", digitos)

Letras = 2
Dígitos = 4

Ejercicio 6: Tabla de multiplicar del 1 al 10

In [22]:
numero = float(input("Introduce un número: "))
for i in range(1, 11):
    print(f"{numero} x {i} = {numero * i}")

Introduce un número: 3.14151692
3.14151692 x 1 = 3.14151692
3.14151692 x 2 = 6.28303384
3.14151692 x 3 = 9.424550759999999
3.14151692 x 4 = 12.56606768
3.14151692 x 5 = 15.7075846
3.14151692 x 6 = 18.849101519999998
3.14151692 x 7 = 21.99061844
3.14151692 x 8 = 25.13213536
3.14151692 x 9 = 28.27365228
3.14151692 x 10 = 31.4151692

Ejercicio 7: Validación de contraseña

In [25]:
import re
def validar(contraseña):
    if (6 <= len(contraseña) <= 16 and
        re.search(r"[a-z]", contraseña) and
        re.search(r"[A-Z]", contraseña) and
        re.search(r"[0-9]", contraseña) and
        re.search(r"[$#@]", contraseña)):
        print("Contraseña válida")
    else:
        print("Contraseña no válida")

validar("!2x9(0}wf{A7")
validar("rv(LX5j682b$")
validar("}}cI4,l96V17")

Contraseña no válida
Contraseña válida
Contraseña no válida

Ejercicio 8: Contar ocurrencias de cada carácter

In [28]:
from collections import Counter
cadena = "Mariana"
conteo = Counter(cadena)

for caracter, cantidad in conteo.items():
    print(f'"{caracter}": {cantidad}')

"M": 1
"a": 3
"r": 1
"i": 1
"n": 1

Ejercicio 9: Eliminar el n-ésimo carácter de una cadena

In [35]:
def eliminar_n_ésimo_caracter(cadena, n):
    if n <= 0 or n > len(cadena):
        return cadena, print("cadena inválida o n fuera de rango")
    return cadena[:n-1] + cadena[n:]

print(eliminar_n_ésimo_caracter("electroencefalografista", 3))

elctroencefalografista

# Ejercicios_Pandas

Ejercicio 1 – ¿Qué hace zip()?

In [37]:
import pandas as pd
import numpy as np

lista = list('abcedfghijklmnopqrstuvwxyz')
arreglo = np.arange(26)
diccionario = dict(zip(lista, arreglo))

serie_1 = pd.Series(lista)
serie_2 = pd.Series(arreglo)
serie_3 = pd.Series(diccionario)

print("Serie 1:\n", serie_1)
print("Serie 2:\n", serie_2)
print("Serie 3:\n", serie_3)
#Convierte lista, array y diccionario a Series

Serie 1:
 0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
Serie 2:
 0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
Serie 3:
 a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

Ejercicio 2 – Convertir series a DataFrame

In [39]:
df = pd.concat([serie_1, serie_2], axis=1)
df.columns = ['letra', 'número']
df = df.reset_index(drop=True)
print(df)
#Si no se aplica reset_index, el DataFrame conserva los índices originales de cada serie

   letra  número
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4
5      f       5
6      g       6
7      h       7
8      i       8
9      j       9
10     k      10
11     l      11
12     m      12
13     n      13
14     o      14
15     p      15
16     q      16
17     r      17
18     s      18
19     t      19
20     u      20
21     v      21
22     w      22
23     x      23
24     y      24
25     z      25

Ejercicio 3 – Intersección y diferencia entre series

In [40]:
serie_1 = pd.Series([1, 2, 3, 4, 5])
serie_2 = pd.Series([4, 5, 6, 7, 8])

comunes = serie_1[serie_1.isin(serie_2)]
print("Comunes:", comunes.tolist())

solo_en_1 = serie_1[~serie_1.isin(serie_2)]
solo_en_2 = serie_2[~serie_2.isin(serie_1)]
print("Solo en 1:", solo_en_1.tolist())
print("Solo en 2:", solo_en_2.tolist())

unicos = pd.concat([solo_en_1, solo_en_2]).reset_index(drop=True)
print("No comunes combinados:\n", unicos)

Comunes: [4, 5]
Solo en 1: [1, 2, 3]
Solo en 2: [6, 7, 8]
No comunes combinados:
 0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

Ejercicio 4 – Mapeo de números a letras con np.take()

In [44]:
import numpy as np
import pandas as pd

lista_letras = list('abcdefghij')
print("Lista de letras:", lista_letras)

np.random.seed(7)

aleatorios = np.random.randint(0, 10, size=30)
print("\nArreglo de números aleatorios:\n", aleatorios)

letras_aleatorias = np.take(lista_letras, aleatorios)
print("\nArreglo de letras:\n", letras_aleatorias)

serie_letras = pd.Series(letras_aleatorias)

frecuencia = serie_letras.value_counts()
print("\nFrecuencia de letras:\n", frecuencia)

Lista de letras: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

Arreglo de números aleatorios:
 [4 9 6 3 3 7 7 9 7 8 9 8 7 6 4 0 7 0 7 6 3 5 8 8 7 5 0 0 2 8]

Arreglo de letras:
 ['e' 'j' 'g' 'd' 'd' 'h' 'h' 'j' 'h' 'i' 'j' 'i' 'h' 'g' 'e' 'a' 'h' 'a'
 'h' 'g' 'd' 'f' 'i' 'i' 'h' 'f' 'a' 'a' 'c' 'i']

Frecuencia de letras:
 h    7
i    5
a    4
d    3
j    3
g    3
e    2
f    2
c    1
Name: count, dtype: int64

Ejercicio 5 – Obtener letras por posición

In [57]:
import pandas as pd

serie_letras = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
posicion = [0, 4, 8, 14, 20]

letras_seleccionadas = serie_letras.take(posicion)
print(letras_seleccionadas)

0     a
4     e
8     i
14    o
20    u
dtype: object

Ejercicio 6 – Compuestos con H y temperatura crítica < 100 K

In [61]:
df = pd.read_csv('unique_m.csv')
filtro = (df['H'] > 0) & (df['critical_temp'] < 100)
compuestos_filtrados = df[filtro]
num_compuestos = len(compuestos_filtrados)
print(num_compuestos)

296

In [ ]:
Ejercicio 7 – Promedio y cuartiles

In [64]:
promedio_H = compuestos_filtrados['H'].mean()
print("Promedio de H:", promedio_H)

cuartiles_Tc = compuestos_filtrados['critical_temp'].quantile([0.25, 0.5, 0.75])
print("Cuartiles de Tc:\n", cuartiles_Tc)

Promedio de H: 1.256847972972973
Cuartiles de Tc:
 0.25     4.37125
0.50    13.70000
0.75    45.07500
Name: critical_temp, dtype: float64

Ejercicio 8 – Superconductores con Ti y O, Tc < 80K

In [67]:
superconductores = df[
    (df['critical_temp'] < 80) &
    (df['Ti'] > 0) &
    (df['O'] > 0)
]

cantidad = len(superconductores)
print(cantidad)

185